/* Đường quét laser mô phỏng camera quét QR */
@keyframes scanMove {
  0% {
    top: 0%;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}

.animate-scan {
  animation: scanMove 2.5s infinite linear;
}
